<div id="privacy" class="pb-5">
<h1 class="privacy-title text-center pt-5 mb-3">プライバシーポリシー</h1>

<p>当サイトではアクセス状況調査や広告配信においてcookie・ウェブ ビーコンといった技術を使用してユーザーのサイト利用状況を調査しています。
これらの技術はサイト利用状況を調査するために必要最小限の情報を収集するものであり、個人を特定するような情報（氏名・住所・メールアドレス等）が収集されることはありません。
収集された情報は広告配信・サイト運営に適切に利用されます。</p>
<br>
<p>ユーザーはこれらの情報収集・利用を拒否することが可能です。
その場合はご利用のブラウザがcookieを受け取らないようにブラウザの設定を変更する必要があります。
また既に受け取っているcookieもブラウザより削除することが出来ます。
cookieの受取拒否・削除等の詳しい方法に関しましてはご利用のブラウザのヘルプを参照してください。</p>
</div>