<div class="thanks-wrapper text-center">
  <div class="thanks-title">
    <h1 class="pt-5 pb-3">お問い合わせ：送信しました</h1>
  </div>
  <div class="content">
    <p class="pb-5">お問い合わせありがとうございます。</p>
  </div>
</div>