@import "bootstrap";

//logo用フォント
.wf-nicomoji { font-family: "Nico Moji"; }

html{
  font-family:Helvetica , "游ゴシック", sans-serif;
}

#logo{
  color:#428bca;
  font-size:1.5rem;
  .logo-dot{
    color: red;
  }
}

#content{
  min-height:500px;
}

//footer

footer{
  ul {
    
    li {
      a{
        color:#ffffff;
        font-size:8px;
        &:hover{
          color:#ffffff;
        }
      }
    }
  }

  .copyright{
    color:#ffffff;
    font-size:8px;
  }
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}
