@import "bootstrap";

//logo用フォント
.wf-nicomoji { font-family: "Nico Moji"; }

html{
  font-family:Helvetica , "游ゴシック", sans-serif;
  box-sizing: border-box;
}



#logo{
  color:#428bca;
  font-size:1.5rem;
  .logo-dot{
    color: red;
  }
}

#content{
  min-height:500px;
}

//flash
.alert{
  margin-bottom: 0;
}

//footer

footer{
  ul {
    
    li {
      a{
        color:#ffffff;
        font-size:8px;
        &:hover{
          color:#ffffff;
        }
      }
    }
  }

  .copyright{
    color:#ffffff;
    font-size:8px;
  }
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.profile-card{
  height:250px;
}

//投稿一覧
.postlist {
}

.postlist-title{
  font-size:1.5rem;
  display:inline-block;
  width:100%;
}

.postlist-content{
  width:75%;
}

.buttons {
  width:173px;
  height:38px;
}

.postlist-date{
  font-size:0.5rem;
  color:gray;
}

//新規投稿・編集画面
.form-group{
  margin: 0;
}

.container{
  .post-form{
    max-width: 100%;
  }
}

//投稿show
.post{
}

.post-user{

}

.post-username{
  font-size: 1.1rem;
}

.post-title{

}

.post-content{

}

