<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "利用規約", terms_path %></li>
      <li><%= link_to "プライバシーポリシー", privacy_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
    </ul>
  </nav>

  <br><%= link_to "Markdown Board", root_path, id: "footer-logo" %>

</footer>

